{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
  <div class="container p-5 bg-dark">
    <div class="row">
      <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
        <h1 class="col text-center"><br>Check out our vintage cars!</h1>
      </div>
    </div>
  </div>
</section>
<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="d-flex col-12 align-items-center justify-content-evenly p-1" id="header-text">
        <img src="{{url_for('static',
        filename='/images/paje-victoria-2oYHfuRe4OU-unsplash.jpg')}}" style="height: 100vh" alt="">
        
      </div>
    </div>
  </div>
</section>
{% endblock %}

